/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 80px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

//  h1, h2, h3, h4, h5, h6 {
//    scroll-margin-top: 100px;
//  }
}

// Distance between menu bar and name
body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 30px;
  //Padding-bottom: 0;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  // padding-bottom: 0;
}

// Top menu bar
.container {
  max-width: $max-content-width;
  padding-top: 0;
}

// Profile
.profile {
  padding-top: 30px;
  padding-bottom: 40px;
  img {
    width: 90%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
